@import url("https://fonts.googleapis.com/css?family=Jost:300,400,500,italic|Geostar:400|Poppins:400");
      @font-face {
        font-family: "Circular Spotify Text-Black";
        src: url("https://anima-uploads.s3.amazonaws.com/5df22df76eb6999d84a22a66/CircularSpotifyText-Black.otf")
          format("opentype");
      }

      @font-face {
        font-family: "Circular Spotify Text-Book";
        src: url("https://anima-uploads.s3.amazonaws.com/5c52e6322001ae000b0b0894/CircularSpotifyText-Book.otf")
          format("opentype");
      }
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
      * {
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
      }
      html,
      body {
        margin: 0px;
        height: 100%;
      }
      /* a blue color as a generic focus style */
      button:focus-visible {
        outline: 2px solid #4a90e2 !important;
        outline: -webkit-focus-ring-color auto 5px !important;
      }
      a {
        text-decoration: none;
      }