:root {
  --green: rgba(87, 182, 96, 1);
  --grey-0: rgba(255, 255, 255, 0.04);
  --grey-2: rgba(255, 255, 255, 0.12);
  --grey-3: rgba(255, 255, 255, 0.2);
  --grey-6: rgba(255, 255, 255, 0.5);
  --material-theme-body-large-font-family: "Roboto", Helvetica;
  --material-theme-body-large-font-size: 16px;
  --material-theme-body-large-font-style: normal;
  --material-theme-body-large-font-weight: 400;
  --material-theme-body-large-letter-spacing: 0.5px;
  --material-theme-body-large-line-height: 24px;
  --material-theme-body-medium-font-family: "Roboto", Helvetica;
  --material-theme-body-medium-font-size: 14px;
  --material-theme-body-medium-font-style: normal;
  --material-theme-body-medium-font-weight: 400;
  --material-theme-body-medium-letter-spacing: 0.25px;
  --material-theme-body-medium-line-height: 20px;
  --material-theme-body-small-font-family: "Roboto", Helvetica;
  --material-theme-body-small-font-size: 12px;
  --material-theme-body-small-font-style: normal;
  --material-theme-body-small-font-weight: 400;
  --material-theme-body-small-letter-spacing: 0.4000000059604645px;
  --material-theme-body-small-line-height: 16px;
  --material-theme-display-large-font-family: "Roboto", Helvetica;
  --material-theme-display-large-font-size: 57px;
  --material-theme-display-large-font-style: normal;
  --material-theme-display-large-font-weight: 400;
  --material-theme-display-large-letter-spacing: -0.25px;
  --material-theme-display-large-line-height: 64px;
  --material-theme-display-medium-font-family: "Roboto", Helvetica;
  --material-theme-display-medium-font-size: 45px;
  --material-theme-display-medium-font-style: normal;
  --material-theme-display-medium-font-weight: 400;
  --material-theme-display-medium-letter-spacing: 0px;
  --material-theme-display-medium-line-height: 52px;
  --material-theme-display-small-font-family: "Roboto", Helvetica;
  --material-theme-display-small-font-size: 36px;
  --material-theme-display-small-font-style: normal;
  --material-theme-display-small-font-weight: 400;
  --material-theme-display-small-letter-spacing: 0px;
  --material-theme-display-small-line-height: 44px;
  --material-theme-headline-large-font-family: "Roboto", Helvetica;
  --material-theme-headline-large-font-size: 32px;
  --material-theme-headline-large-font-style: normal;
  --material-theme-headline-large-font-weight: 400;
  --material-theme-headline-large-letter-spacing: 0px;
  --material-theme-headline-large-line-height: 40px;
  --material-theme-headline-medium-font-family: "Roboto", Helvetica;
  --material-theme-headline-medium-font-size: 28px;
  --material-theme-headline-medium-font-style: normal;
  --material-theme-headline-medium-font-weight: 400;
  --material-theme-headline-medium-letter-spacing: 0px;
  --material-theme-headline-medium-line-height: 36px;
  --material-theme-headline-small-font-family: "Roboto", Helvetica;
  --material-theme-headline-small-font-size: 24px;
  --material-theme-headline-small-font-style: normal;
  --material-theme-headline-small-font-weight: 400;
  --material-theme-headline-small-letter-spacing: 0px;
  --material-theme-headline-small-line-height: 32px;
  --material-theme-label-large-font-family: "Roboto", Helvetica;
  --material-theme-label-large-font-size: 14px;
  --material-theme-label-large-font-style: normal;
  --material-theme-label-large-font-weight: 500;
  --material-theme-label-large-letter-spacing: 0.10000000149011612px;
  --material-theme-label-large-line-height: 20px;
  --material-theme-label-medium-font-family: "Roboto", Helvetica;
  --material-theme-label-medium-font-size: 12px;
  --material-theme-label-medium-font-style: normal;
  --material-theme-label-medium-font-weight: 500;
  --material-theme-label-medium-letter-spacing: 0.5px;
  --material-theme-label-medium-line-height: 16px;
  --material-theme-label-small-font-family: "Roboto", Helvetica;
  --material-theme-label-small-font-size: 11px;
  --material-theme-label-small-font-style: normal;
  --material-theme-label-small-font-weight: 500;
  --material-theme-label-small-letter-spacing: 0.5px;
  --material-theme-label-small-line-height: 16px;
  --material-theme-schemes-background: rgba(255, 248, 247, 1);
  --material-theme-schemes-error: rgba(186, 26, 26, 1);
  --material-theme-schemes-error-container: rgba(255, 218, 214, 1);
  --material-theme-schemes-inverse-on-surface: rgba(254, 237, 238, 1);
  --material-theme-schemes-inverse-primary: rgba(255, 178, 190, 1);
  --material-theme-schemes-inverse-surface: rgba(56, 46, 47, 1);
  --material-theme-schemes-on-background: rgba(34, 25, 26, 1);
  --material-theme-schemes-on-error: rgba(255, 255, 255, 1);
  --material-theme-schemes-on-error-container: rgba(65, 0, 2, 1);
  --material-theme-schemes-on-primary: rgba(255, 255, 255, 1);
  --material-theme-schemes-on-primary-container: rgba(59, 7, 22, 1);
  --material-theme-schemes-on-primary-fixed: rgba(59, 7, 22, 1);
  --material-theme-schemes-on-primary-fixed-variant: rgba(113, 51, 64, 1);
  --material-theme-schemes-on-secondary: rgba(255, 255, 255, 1);
  --material-theme-schemes-on-secondary-container: rgba(44, 21, 25, 1);
  --material-theme-schemes-on-secondary-fixed: rgba(44, 21, 25, 1);
  --material-theme-schemes-on-secondary-fixed-variant: rgba(92, 63, 68, 1);
  --material-theme-schemes-on-surface: rgba(34, 25, 26, 1);
  --material-theme-schemes-on-surface-variant: rgba(82, 67, 69, 1);
  --material-theme-schemes-on-tertiary: rgba(255, 255, 255, 1);
  --material-theme-schemes-on-tertiary-container: rgba(43, 23, 0, 1);
  --material-theme-schemes-on-tertiary-fixed: rgba(43, 23, 0, 1);
  --material-theme-schemes-on-tertiary-fixed-variant: rgba(95, 65, 28, 1);
  --material-theme-schemes-outline: rgba(132, 115, 117, 1);
  --material-theme-schemes-outline-variant: rgba(214, 194, 195, 1);
  --material-theme-schemes-primary: rgba(142, 73, 87, 1);
  --material-theme-schemes-primary-container: rgba(255, 217, 222, 1);
  --material-theme-schemes-primary-fixed: rgba(255, 217, 222, 1);
  --material-theme-schemes-primary-fixed-dim: rgba(255, 178, 190, 1);
  --material-theme-schemes-scrim: rgba(0, 0, 0, 1);
  --material-theme-schemes-secondary: rgba(117, 86, 91, 1);
  --material-theme-schemes-secondary-container: rgba(255, 217, 222, 1);
  --material-theme-schemes-secondary-fixed: rgba(255, 217, 222, 1);
  --material-theme-schemes-secondary-fixed-dim: rgba(229, 189, 194, 1);
  --material-theme-schemes-shadow: rgba(0, 0, 0, 1);
  --material-theme-schemes-surface: rgba(255, 248, 247, 1);
  --material-theme-schemes-surface-bright: rgba(255, 248, 247, 1);
  --material-theme-schemes-surface-container: rgba(251, 234, 235, 1);
  --material-theme-schemes-surface-container-high: rgba(245, 228, 229, 1);
  --material-theme-schemes-surface-container-highest: rgba(240, 222, 224, 1);
  --material-theme-schemes-surface-container-low: rgba(255, 240, 241, 1);
  --material-theme-schemes-surface-container-lowest: rgba(255, 255, 255, 1);
  --material-theme-schemes-surface-dim: rgba(231, 214, 215, 1);
  --material-theme-schemes-surface-tint: rgba(142, 73, 87, 1);
  --material-theme-schemes-surface-variant: rgba(243, 221, 223, 1);
  --material-theme-schemes-tertiary: rgba(121, 88, 49, 1);
  --material-theme-schemes-tertiary-container: rgba(255, 221, 186, 1);
  --material-theme-schemes-tertiary-fixed: rgba(255, 221, 186, 1);
  --material-theme-schemes-tertiary-fixed-dim: rgba(235, 191, 144, 1);
  --material-theme-title-large-font-family: "Roboto", Helvetica;
  --material-theme-title-large-font-size: 22px;
  --material-theme-title-large-font-style: normal;
  --material-theme-title-large-font-weight: 400;
  --material-theme-title-large-letter-spacing: 0px;
  --material-theme-title-large-line-height: 28px;
  --material-theme-title-medium-font-family: "Roboto", Helvetica;
  --material-theme-title-medium-font-size: 16px;
  --material-theme-title-medium-font-style: normal;
  --material-theme-title-medium-font-weight: 500;
  --material-theme-title-medium-letter-spacing: 0.15000000596046448px;
  --material-theme-title-medium-line-height: 24px;
  --material-theme-title-small-font-family: "Roboto", Helvetica;
  --material-theme-title-small-font-size: 14px;
  --material-theme-title-small-font-style: normal;
  --material-theme-title-small-font-weight: 500;
  --material-theme-title-small-letter-spacing: 0.10000000149011612px;
  --material-theme-title-small-line-height: 20px;
  --material-themeblack: rgba(0, 0, 0, 1);
  --material-themekey-colorsprimary: rgba(233, 224, 224, 1);
  --material-themereferrorerror0: rgba(0, 0, 0, 1);
  --material-themereferrorerror10: rgba(65, 0, 2, 1);
  --material-themereferrorerror100: rgba(255, 255, 255, 1);
  --material-themereferrorerror15: rgba(84, 0, 3, 1);
  --material-themereferrorerror20: rgba(105, 0, 5, 1);
  --material-themereferrorerror25: rgba(126, 0, 7, 1);
  --material-themereferrorerror30: rgba(147, 0, 10, 1);
  --material-themereferrorerror35: rgba(168, 7, 16, 1);
  --material-themereferrorerror40: rgba(186, 26, 26, 1);
  --material-themereferrorerror5: rgba(45, 0, 1, 1);
  --material-themereferrorerror50: rgba(222, 55, 48, 1);
  --material-themereferrorerror60: rgba(255, 84, 73, 1);
  --material-themereferrorerror70: rgba(255, 137, 125, 1);
  --material-themereferrorerror80: rgba(255, 180, 171, 1);
  --material-themereferrorerror90: rgba(255, 218, 214, 1);
  --material-themereferrorerror95: rgba(255, 237, 234, 1);
  --material-themereferrorerror98: rgba(255, 248, 247, 1);
  --material-themereferrorerror99: rgba(255, 251, 255, 1);
  --material-themerefneutral-variantneutral-variant0: rgba(0, 0, 0, 1);
  --material-themerefneutral-variantneutral-variant10: rgba(28, 27, 27, 1);
  --material-themerefneutral-variantneutral-variant100: rgba(255, 255, 255, 1);
  --material-themerefneutral-variantneutral-variant15: rgba(39, 37, 37, 1);
  --material-themerefneutral-variantneutral-variant20: rgba(49, 48, 48, 1);
  --material-themerefneutral-variantneutral-variant25: rgba(61, 59, 59, 1);
  --material-themerefneutral-variantneutral-variant30: rgba(72, 70, 70, 1);
  --material-themerefneutral-variantneutral-variant35: rgba(84, 82, 82, 1);
  --material-themerefneutral-variantneutral-variant40: rgba(96, 94, 94, 1);
  --material-themerefneutral-variantneutral-variant5: rgba(18, 17, 17, 1);
  --material-themerefneutral-variantneutral-variant50: rgba(121, 118, 118, 1);
  --material-themerefneutral-variantneutral-variant60: rgba(147, 144, 143, 1);
  --material-themerefneutral-variantneutral-variant70: rgba(174, 170, 170, 1);
  --material-themerefneutral-variantneutral-variant80: rgba(202, 197, 197, 1);
  --material-themerefneutral-variantneutral-variant90: rgba(230, 225, 225, 1);
  --material-themerefneutral-variantneutral-variant95: rgba(244, 240, 239, 1);
  --material-themerefneutral-variantneutral-variant98: rgba(253, 248, 247, 1);
  --material-themerefneutral-variantneutral-variant99: rgba(255, 251, 255, 1);
  --material-themerefneutralneutral0: rgba(0, 0, 0, 1);
  --material-themerefneutralneutral10: rgba(28, 27, 27, 1);
  --material-themerefneutralneutral100: rgba(255, 255, 255, 1);
  --material-themerefneutralneutral15: rgba(39, 37, 37, 1);
  --material-themerefneutralneutral20: rgba(49, 48, 48, 1);
  --material-themerefneutralneutral25: rgba(60, 59, 59, 1);
  --material-themerefneutralneutral30: rgba(72, 70, 70, 1);
  --material-themerefneutralneutral35: rgba(84, 82, 82, 1);
  --material-themerefneutralneutral40: rgba(96, 94, 94, 1);
  --material-themerefneutralneutral5: rgba(17, 17, 17, 1);
  --material-themerefneutralneutral50: rgba(121, 118, 118, 1);
  --material-themerefneutralneutral60: rgba(147, 144, 144, 1);
  --material-themerefneutralneutral70: rgba(174, 170, 170, 1);
  --material-themerefneutralneutral80: rgba(201, 198, 197, 1);
  --material-themerefneutralneutral90: rgba(230, 225, 225, 1);
  --material-themerefneutralneutral95: rgba(244, 240, 239, 1);
  --material-themerefneutralneutral98: rgba(253, 248, 248, 1);
  --material-themerefneutralneutral99: rgba(255, 251, 255, 1);
  --material-themerefprimaryprimary0: rgba(0, 0, 0, 1);
  --material-themerefprimaryprimary10: rgba(30, 27, 27, 1);
  --material-themerefprimaryprimary100: rgba(255, 255, 255, 1);
  --material-themerefprimaryprimary15: rgba(41, 37, 37, 1);
  --material-themerefprimaryprimary20: rgba(52, 47, 48, 1);
  --material-themerefprimaryprimary25: rgba(63, 58, 59, 1);
  --material-themerefprimaryprimary30: rgba(75, 69, 70, 1);
  --material-themerefprimaryprimary35: rgba(87, 81, 81, 1);
  --material-themerefprimaryprimary40: rgba(99, 93, 93, 1);
  --material-themerefprimaryprimary5: rgba(20, 16, 16, 1);
  --material-themerefprimaryprimary50: rgba(124, 117, 118, 1);
  --material-themerefprimaryprimary60: rgba(150, 143, 143, 1);
  --material-themerefprimaryprimary70: rgba(177, 169, 169, 1);
  --material-themerefprimaryprimary80: rgba(205, 197, 197, 1);
  --material-themerefprimaryprimary90: rgba(233, 224, 224, 1);
  --material-themerefprimaryprimary95: rgba(248, 239, 239, 1);
  --material-themerefprimaryprimary98: rgba(255, 248, 247, 1);
  --material-themerefprimaryprimary99: rgba(255, 251, 255, 1);
  --material-themerefsecondarysecondary0: rgba(0, 0, 0, 1);
  --material-themerefsecondarysecondary10: rgba(29, 27, 27, 1);
  --material-themerefsecondarysecondary100: rgba(255, 255, 255, 1);
  --material-themerefsecondarysecondary15: rgba(39, 37, 37, 1);
  --material-themerefsecondarysecondary20: rgba(50, 48, 48, 1);
  --material-themerefsecondarysecondary25: rgba(61, 59, 59, 1);
  --material-themerefsecondarysecondary30: rgba(73, 70, 70, 1);
  --material-themerefsecondarysecondary35: rgba(84, 82, 82, 1);
  --material-themerefsecondarysecondary40: rgba(97, 94, 93, 1);
  --material-themerefsecondarysecondary5: rgba(18, 17, 17, 1);
  --material-themerefsecondarysecondary50: rgba(122, 118, 118, 1);
  --material-themerefsecondarysecondary60: rgba(148, 144, 143, 1);
  --material-themerefsecondarysecondary70: rgba(175, 170, 170, 1);
  --material-themerefsecondarysecondary80: rgba(202, 197, 197, 1);
  --material-themerefsecondarysecondary90: rgba(231, 225, 225, 1);
  --material-themerefsecondarysecondary95: rgba(245, 239, 239, 1);
  --material-themerefsecondarysecondary98: rgba(254, 248, 247, 1);
  --material-themerefsecondarysecondary99: rgba(255, 251, 255, 1);
  --material-themereftertiarytertiary0: rgba(0, 0, 0, 1);
  --material-themereftertiarytertiary10: rgba(29, 27, 26, 1);
  --material-themereftertiarytertiary100: rgba(255, 255, 255, 1);
  --material-themereftertiarytertiary15: rgba(39, 37, 36, 1);
  --material-themereftertiarytertiary20: rgba(50, 48, 46, 1);
  --material-themereftertiarytertiary25: rgba(61, 59, 57, 1);
  --material-themereftertiarytertiary30: rgba(73, 70, 68, 1);
  --material-themereftertiarytertiary35: rgba(85, 82, 80, 1);
  --material-themereftertiarytertiary40: rgba(97, 94, 92, 1);
  --material-themereftertiarytertiary5: rgba(18, 17, 15, 1);
  --material-themereftertiarytertiary50: rgba(122, 118, 116, 1);
  --material-themereftertiarytertiary60: rgba(148, 144, 142, 1);
  --material-themereftertiarytertiary70: rgba(175, 170, 168, 1);
  --material-themereftertiarytertiary80: rgba(203, 197, 195, 1);
  --material-themereftertiarytertiary90: rgba(231, 225, 223, 1);
  --material-themereftertiarytertiary95: rgba(245, 239, 237, 1);
  --material-themereftertiarytertiary98: rgba(254, 248, 245, 1);
  --material-themereftertiarytertiary99: rgba(255, 251, 255, 1);
  --material-themesourceseed: rgba(233, 224, 224, 1);
  --material-themesysdark-high-contrastbackground: rgba(25, 17, 18, 1);
  --material-themesysdark-high-contrasterror: rgba(255, 249, 249, 1);
  --material-themesysdark-high-contrasterror-container: rgba(255, 186, 177, 1);
  --material-themesysdark-high-contrastinverse-on-surface: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contrastinverse-primary: rgba(78, 22, 36, 1);
  --material-themesysdark-high-contrastinverse-surface: rgba(240, 222, 224, 1);
  --material-themesysdark-high-contraston-background: rgba(240, 222, 224, 1);
  --material-themesysdark-high-contraston-error: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contraston-error-container: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contraston-primary: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contraston-primary-container: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contraston-primary-fixed: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contraston-primary-fixed-variant: rgba(51, 3, 17, 1);
  --material-themesysdark-high-contraston-secondary: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contraston-secondary-container: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contraston-secondary-fixed: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contraston-secondary-fixed-variant: rgba(37, 16, 20, 1);
  --material-themesysdark-high-contraston-surface: rgba(255, 255, 255, 1);
  --material-themesysdark-high-contraston-surface-variant: rgba(255, 249, 249, 1);
  --material-themesysdark-high-contraston-tertiary: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contraston-tertiary-container: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contraston-tertiary-fixed: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contraston-tertiary-fixed-variant: rgba(36, 18, 0, 1);
  --material-themesysdark-high-contrastoutline: rgba(219, 198, 200, 1);
  --material-themesysdark-high-contrastoutline-variant: rgba(219, 198, 200, 1);
  --material-themesysdark-high-contrastprimary: rgba(255, 249, 249, 1);
  --material-themesysdark-high-contrastprimary-container: rgba(255, 184, 195, 1);
  --material-themesysdark-high-contrastprimary-fixed: rgba(255, 223, 227, 1);
  --material-themesysdark-high-contrastprimary-fixed-dim: rgba(255, 184, 195, 1);
  --material-themesysdark-high-contrastscrim: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contrastsecondary: rgba(255, 249, 249, 1);
  --material-themesysdark-high-contrastsecondary-container: rgba(233, 193, 198, 1);
  --material-themesysdark-high-contrastsecondary-fixed: rgba(255, 223, 227, 1);
  --material-themesysdark-high-contrastsecondary-fixed-dim: rgba(233, 193, 198, 1);
  --material-themesysdark-high-contrastshadow: rgba(0, 0, 0, 1);
  --material-themesysdark-high-contrastsurface: rgba(25, 17, 18, 1);
  --material-themesysdark-high-contrastsurface-bright: rgba(65, 55, 56, 1);
  --material-themesysdark-high-contrastsurface-container: rgba(38, 29, 30, 1);
  --material-themesysdark-high-contrastsurface-container-high: rgba(49, 40, 41, 1);
  --material-themesysdark-high-contrastsurface-container-highest: rgba(60, 50, 51, 1);
  --material-themesysdark-high-contrastsurface-container-low: rgba(34, 25, 26, 1);
  --material-themesysdark-high-contrastsurface-container-lowest: rgba(20, 12, 13, 1);
  --material-themesysdark-high-contrastsurface-dim: rgba(25, 17, 18, 1);
  --material-themesysdark-high-contrastsurface-tint: rgba(255, 178, 190, 1);
  --material-themesysdark-high-contrastsurface-variant: rgba(82, 67, 69, 1);
  --material-themesysdark-high-contrasttertiary: rgba(255, 250, 248, 1);
  --material-themesysdark-high-contrasttertiary-container: rgba(239, 195, 148, 1);
  --material-themesysdark-high-contrasttertiary-fixed: rgba(255, 226, 198, 1);
  --material-themesysdark-high-contrasttertiary-fixed-dim: rgba(239, 195, 148, 1);
  --material-themesysdark-medium-contrastbackground: rgba(25, 17, 18, 1);
  --material-themesysdark-medium-contrasterror: rgba(255, 186, 177, 1);
  --material-themesysdark-medium-contrasterror-container: rgba(255, 84, 73, 1);
  --material-themesysdark-medium-contrastinverse-on-surface: rgba(49, 40, 41, 1);
  --material-themesysdark-medium-contrastinverse-primary: rgba(115, 52, 65, 1);
  --material-themesysdark-medium-contrastinverse-surface: rgba(240, 222, 224, 1);
  --material-themesysdark-medium-contraston-background: rgba(240, 222, 224, 1);
  --material-themesysdark-medium-contraston-error: rgba(55, 0, 1, 1);
  --material-themesysdark-medium-contraston-error-container: rgba(0, 0, 0, 1);
  --material-themesysdark-medium-contraston-primary: rgba(51, 3, 17, 1);
  --material-themesysdark-medium-contraston-primary-container: rgba(0, 0, 0, 1);
  --material-themesysdark-medium-contraston-primary-fixed: rgba(44, 0, 12, 1);
  --material-themesysdark-medium-contraston-primary-fixed-variant: rgba(93, 34, 48, 1);
  --material-themesysdark-medium-contraston-secondary: rgba(37, 16, 20, 1);
  --material-themesysdark-medium-contraston-secondary-container: rgba(0, 0, 0, 1);
  --material-themesysdark-medium-contraston-secondary-fixed: rgba(31, 11, 15, 1);
  --material-themesysdark-medium-contraston-secondary-fixed-variant: rgba(73, 47, 51, 1);
  --material-themesysdark-medium-contraston-surface: rgba(255, 249, 249, 1);
  --material-themesysdark-medium-contraston-surface-variant: rgba(219, 198, 200, 1);
  --material-themesysdark-medium-contraston-tertiary: rgba(36, 18, 0, 1);
  --material-themesysdark-medium-contraston-tertiary-container: rgba(0, 0, 0, 1);
  --material-themesysdark-medium-contraston-tertiary-fixed: rgba(29, 14, 0, 1);
  --material-themesysdark-medium-contraston-tertiary-fixed-variant: rgba(76, 48, 13, 1);
  --material-themesysdark-medium-contrastoutline: rgba(178, 158, 160, 1);
  --material-themesysdark-medium-contrastoutline-variant: rgba(145, 127, 129, 1);
  --material-themesysdark-medium-contrastprimary: rgba(255, 184, 195, 1);
  --material-themesysdark-medium-contrastprimary-container: rgba(201, 122, 136, 1);
  --material-themesysdark-medium-contrastprimary-fixed: rgba(255, 217, 222, 1);
  --material-themesysdark-medium-contrastprimary-fixed-dim: rgba(255, 178, 190, 1);
  --material-themesysdark-medium-contrastscrim: rgba(0, 0, 0, 1);
  --material-themesysdark-medium-contrastsecondary: rgba(233, 193, 198, 1);
  --material-themesysdark-medium-contrastsecondary-container: rgba(171, 136, 141, 1);
  --material-themesysdark-medium-contrastsecondary-fixed: rgba(255, 217, 222, 1);
  --material-themesysdark-medium-contrastsecondary-fixed-dim: rgba(229, 189, 194, 1);
  --material-themesysdark-medium-contrastshadow: rgba(0, 0, 0, 1);
  --material-themesysdark-medium-contrastsurface: rgba(25, 17, 18, 1);
  --material-themesysdark-medium-contrastsurface-bright: rgba(65, 55, 56, 1);
  --material-themesysdark-medium-contrastsurface-container: rgba(38, 29, 30, 1);
  --material-themesysdark-medium-contrastsurface-container-high: rgba(49, 40, 41, 1);
  --material-themesysdark-medium-contrastsurface-container-highest: rgba(60, 50, 51, 1);
  --material-themesysdark-medium-contrastsurface-container-low: rgba(34, 25, 26, 1);
  --material-themesysdark-medium-contrastsurface-container-lowest: rgba(20, 12, 13, 1);
  --material-themesysdark-medium-contrastsurface-dim: rgba(25, 17, 18, 1);
  --material-themesysdark-medium-contrastsurface-tint: rgba(255, 178, 190, 1);
  --material-themesysdark-medium-contrastsurface-variant: rgba(82, 67, 69, 1);
  --material-themesysdark-medium-contrasttertiary: rgba(239, 195, 148, 1);
  --material-themesysdark-medium-contrasttertiary-container: rgba(177, 137, 95, 1);
  --material-themesysdark-medium-contrasttertiary-fixed: rgba(255, 221, 186, 1);
  --material-themesysdark-medium-contrasttertiary-fixed-dim: rgba(235, 191, 144, 1);
  --material-themesysdarkbackground: rgba(25, 17, 18, 1);
  --material-themesysdarkerror: rgba(255, 180, 171, 1);
  --material-themesysdarkerror-container: rgba(147, 0, 10, 1);
  --material-themesysdarkinverse-on-surface: rgba(56, 46, 47, 1);
  --material-themesysdarkinverse-primary: rgba(142, 73, 87, 1);
  --material-themesysdarkinverse-surface: rgba(240, 222, 224, 1);
  --material-themesysdarkon-background: rgba(240, 222, 224, 1);
  --material-themesysdarkon-error: rgba(105, 0, 5, 1);
  --material-themesysdarkon-error-container: rgba(255, 218, 214, 1);
  --material-themesysdarkon-primary: rgba(86, 29, 42, 1);
  --material-themesysdarkon-primary-container: rgba(255, 217, 222, 1);
  --material-themesysdarkon-primary-fixed: rgba(59, 7, 22, 1);
  --material-themesysdarkon-primary-fixed-variant: rgba(113, 51, 64, 1);
  --material-themesysdarkon-secondary: rgba(67, 41, 46, 1);
  --material-themesysdarkon-secondary-container: rgba(255, 217, 222, 1);
  --material-themesysdarkon-secondary-fixed: rgba(44, 21, 25, 1);
  --material-themesysdarkon-secondary-fixed-variant: rgba(92, 63, 68, 1);
  --material-themesysdarkon-surface: rgba(240, 222, 224, 1);
  --material-themesysdarkon-surface-variant: rgba(214, 194, 195, 1);
  --material-themesysdarkon-tertiary: rgba(69, 43, 8, 1);
  --material-themesysdarkon-tertiary-container: rgba(255, 221, 186, 1);
  --material-themesysdarkon-tertiary-fixed: rgba(43, 23, 0, 1);
  --material-themesysdarkon-tertiary-fixed-variant: rgba(95, 65, 28, 1);
  --material-themesysdarkoutline: rgba(159, 140, 142, 1);
  --material-themesysdarkoutline-variant: rgba(82, 67, 69, 1);
  --material-themesysdarkprimary: rgba(255, 178, 190, 1);
  --material-themesysdarkprimary-container: rgba(113, 51, 64, 1);
  --material-themesysdarkprimary-fixed: rgba(255, 217, 222, 1);
  --material-themesysdarkprimary-fixed-dim: rgba(255, 178, 190, 1);
  --material-themesysdarkscrim: rgba(0, 0, 0, 1);
  --material-themesysdarksecondary: rgba(229, 189, 194, 1);
  --material-themesysdarksecondary-container: rgba(92, 63, 68, 1);
  --material-themesysdarksecondary-fixed: rgba(255, 217, 222, 1);
  --material-themesysdarksecondary-fixed-dim: rgba(229, 189, 194, 1);
  --material-themesysdarkshadow: rgba(0, 0, 0, 1);
  --material-themesysdarksurface: rgba(25, 17, 18, 1);
  --material-themesysdarksurface-bright: rgba(65, 55, 56, 1);
  --material-themesysdarksurface-container: rgba(38, 29, 30, 1);
  --material-themesysdarksurface-container-high: rgba(49, 40, 41, 1);
  --material-themesysdarksurface-container-highest: rgba(60, 50, 51, 1);
  --material-themesysdarksurface-container-low: rgba(34, 25, 26, 1);
  --material-themesysdarksurface-container-lowest: rgba(20, 12, 13, 1);
  --material-themesysdarksurface-dim: rgba(25, 17, 18, 1);
  --material-themesysdarksurface-tint: rgba(255, 178, 190, 1);
  --material-themesysdarksurface-variant: rgba(82, 67, 69, 1);
  --material-themesysdarktertiary: rgba(235, 191, 144, 1);
  --material-themesysdarktertiary-container: rgba(95, 65, 28, 1);
  --material-themesysdarktertiary-fixed: rgba(255, 221, 186, 1);
  --material-themesysdarktertiary-fixed-dim: rgba(235, 191, 144, 1);
  --material-themesyslight-high-contrastbackground: rgba(255, 248, 247, 1);
  --material-themesyslight-high-contrasterror: rgba(78, 0, 2, 1);
  --material-themesyslight-high-contrasterror-container: rgba(140, 0, 9, 1);
  --material-themesyslight-high-contrastinverse-on-surface: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contrastinverse-primary: rgba(255, 230, 232, 1);
  --material-themesyslight-high-contrastinverse-surface: rgba(56, 46, 47, 1);
  --material-themesyslight-high-contraston-background: rgba(34, 25, 26, 1);
  --material-themesyslight-high-contraston-error: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-error-container: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-primary: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-primary-container: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-primary-fixed: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-primary-fixed-variant: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-secondary: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-secondary-container: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-secondary-fixed: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-secondary-fixed-variant: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-surface: rgba(0, 0, 0, 1);
  --material-themesyslight-high-contraston-surface-variant: rgba(45, 33, 34, 1);
  --material-themesyslight-high-contraston-tertiary: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-tertiary-container: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-tertiary-fixed: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contraston-tertiary-fixed-variant: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contrastoutline: rgba(78, 63, 65, 1);
  --material-themesyslight-high-contrastoutline-variant: rgba(78, 63, 65, 1);
  --material-themesyslight-high-contrastprimary: rgba(67, 14, 28, 1);
  --material-themesyslight-high-contrastprimary-container: rgba(109, 47, 60, 1);
  --material-themesyslight-high-contrastprimary-fixed: rgba(109, 47, 60, 1);
  --material-themesyslight-high-contrastprimary-fixed-dim: rgba(81, 25, 38, 1);
  --material-themesyslight-high-contrastscrim: rgba(0, 0, 0, 1);
  --material-themesyslight-high-contrastsecondary: rgba(51, 27, 32, 1);
  --material-themesyslight-high-contrastsecondary-container: rgba(87, 59, 64, 1);
  --material-themesyslight-high-contrastsecondary-fixed: rgba(87, 59, 64, 1);
  --material-themesyslight-high-contrastsecondary-fixed-dim: rgba(63, 38, 42, 1);
  --material-themesyslight-high-contrastshadow: rgba(0, 0, 0, 1);
  --material-themesyslight-high-contrastsurface: rgba(255, 248, 247, 1);
  --material-themesyslight-high-contrastsurface-bright: rgba(255, 248, 247, 1);
  --material-themesyslight-high-contrastsurface-container: rgba(251, 234, 235, 1);
  --material-themesyslight-high-contrastsurface-container-high: rgba(245, 228, 229, 1);
  --material-themesyslight-high-contrastsurface-container-highest: rgba(240, 222, 224, 1);
  --material-themesyslight-high-contrastsurface-container-low: rgba(255, 240, 241, 1);
  --material-themesyslight-high-contrastsurface-container-lowest: rgba(255, 255, 255, 1);
  --material-themesyslight-high-contrastsurface-dim: rgba(231, 214, 215, 1);
  --material-themesyslight-high-contrastsurface-tint: rgba(142, 73, 87, 1);
  --material-themesyslight-high-contrastsurface-variant: rgba(243, 221, 223, 1);
  --material-themesyslight-high-contrasttertiary: rgba(52, 29, 0, 1);
  --material-themesyslight-high-contrasttertiary-container: rgba(90, 61, 25, 1);
  --material-themesyslight-high-contrasttertiary-fixed: rgba(90, 61, 25, 1);
  --material-themesyslight-high-contrasttertiary-fixed-dim: rgba(65, 39, 5, 1);
  --material-themesyslight-medium-contrastbackground: rgba(255, 248, 247, 1);
  --material-themesyslight-medium-contrasterror: rgba(140, 0, 9, 1);
  --material-themesyslight-medium-contrasterror-container: rgba(218, 52, 46, 1);
  --material-themesyslight-medium-contrastinverse-on-surface: rgba(254, 237, 238, 1);
  --material-themesyslight-medium-contrastinverse-primary: rgba(255, 178, 190, 1);
  --material-themesyslight-medium-contrastinverse-surface: rgba(56, 46, 47, 1);
  --material-themesyslight-medium-contraston-background: rgba(34, 25, 26, 1);
  --material-themesyslight-medium-contraston-error: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-error-container: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-primary: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-primary-container: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-primary-fixed: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-primary-fixed-variant: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-secondary: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-secondary-container: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-secondary-fixed: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-secondary-fixed-variant: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-surface: rgba(34, 25, 26, 1);
  --material-themesyslight-medium-contraston-surface-variant: rgba(78, 63, 65, 1);
  --material-themesyslight-medium-contraston-tertiary: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-tertiary-container: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-tertiary-fixed: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contraston-tertiary-fixed-variant: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contrastoutline: rgba(107, 91, 93, 1);
  --material-themesyslight-medium-contrastoutline-variant: rgba(136, 118, 120, 1);
  --material-themesyslight-medium-contrastprimary: rgba(109, 47, 60, 1);
  --material-themesyslight-medium-contrastprimary-container: rgba(168, 95, 108, 1);
  --material-themesyslight-medium-contrastprimary-fixed: rgba(168, 95, 108, 1);
  --material-themesyslight-medium-contrastprimary-fixed-dim: rgba(139, 71, 84, 1);
  --material-themesyslight-medium-contrastscrim: rgba(0, 0, 0, 1);
  --material-themesyslight-medium-contrastsecondary: rgba(87, 59, 64, 1);
  --material-themesyslight-medium-contrastsecondary-container: rgba(141, 108, 113, 1);
  --material-themesyslight-medium-contrastsecondary-fixed: rgba(141, 108, 113, 1);
  --material-themesyslight-medium-contrastsecondary-fixed-dim: rgba(115, 84, 88, 1);
  --material-themesyslight-medium-contrastshadow: rgba(0, 0, 0, 1);
  --material-themesyslight-medium-contrastsurface: rgba(255, 248, 247, 1);
  --material-themesyslight-medium-contrastsurface-bright: rgba(255, 248, 247, 1);
  --material-themesyslight-medium-contrastsurface-container: rgba(251, 234, 235, 1);
  --material-themesyslight-medium-contrastsurface-container-high: rgba(245, 228, 229, 1);
  --material-themesyslight-medium-contrastsurface-container-highest: rgba(240, 222, 224, 1);
  --material-themesyslight-medium-contrastsurface-container-low: rgba(255, 240, 241, 1);
  --material-themesyslight-medium-contrastsurface-container-lowest: rgba(255, 255, 255, 1);
  --material-themesyslight-medium-contrastsurface-dim: rgba(231, 214, 215, 1);
  --material-themesyslight-medium-contrastsurface-tint: rgba(142, 73, 87, 1);
  --material-themesyslight-medium-contrastsurface-variant: rgba(243, 221, 223, 1);
  --material-themesyslight-medium-contrasttertiary: rgba(90, 61, 25, 1);
  --material-themesyslight-medium-contrasttertiary-container: rgba(146, 110, 69, 1);
  --material-themesyslight-medium-contrasttertiary-fixed: rgba(146, 110, 69, 1);
  --material-themesyslight-medium-contrasttertiary-fixed-dim: rgba(119, 85, 47, 1);
  --material-themesyslightbackground: rgba(255, 248, 247, 1);
  --material-themesyslighterror: rgba(186, 26, 26, 1);
  --material-themesyslighterror-container: rgba(255, 218, 214, 1);
  --material-themesyslightinverse-on-surface: rgba(254, 237, 238, 1);
  --material-themesyslightinverse-primary: rgba(255, 178, 190, 1);
  --material-themesyslightinverse-surface: rgba(56, 46, 47, 1);
  --material-themesyslighton-background: rgba(34, 25, 26, 1);
  --material-themesyslighton-error: rgba(255, 255, 255, 1);
  --material-themesyslighton-error-container: rgba(65, 0, 2, 1);
  --material-themesyslighton-primary: rgba(255, 255, 255, 1);
  --material-themesyslighton-primary-container: rgba(59, 7, 22, 1);
  --material-themesyslighton-primary-fixed: rgba(59, 7, 22, 1);
  --material-themesyslighton-primary-fixed-variant: rgba(113, 51, 64, 1);
  --material-themesyslighton-secondary: rgba(255, 255, 255, 1);
  --material-themesyslighton-secondary-container: rgba(44, 21, 25, 1);
  --material-themesyslighton-secondary-fixed: rgba(44, 21, 25, 1);
  --material-themesyslighton-secondary-fixed-variant: rgba(92, 63, 68, 1);
  --material-themesyslighton-surface: rgba(34, 25, 26, 1);
  --material-themesyslighton-surface-variant: rgba(82, 67, 69, 1);
  --material-themesyslighton-tertiary: rgba(255, 255, 255, 1);
  --material-themesyslighton-tertiary-container: rgba(43, 23, 0, 1);
  --material-themesyslighton-tertiary-fixed: rgba(43, 23, 0, 1);
  --material-themesyslighton-tertiary-fixed-variant: rgba(95, 65, 28, 1);
  --material-themesyslightoutline: rgba(132, 115, 117, 1);
  --material-themesyslightoutline-variant: rgba(214, 194, 195, 1);
  --material-themesyslightprimary: rgba(142, 73, 87, 1);
  --material-themesyslightprimary-container: rgba(255, 217, 222, 1);
  --material-themesyslightprimary-fixed: rgba(255, 217, 222, 1);
  --material-themesyslightprimary-fixed-dim: rgba(255, 178, 190, 1);
  --material-themesyslightscrim: rgba(0, 0, 0, 1);
  --material-themesyslightsecondary: rgba(117, 86, 91, 1);
  --material-themesyslightsecondary-container: rgba(255, 217, 222, 1);
  --material-themesyslightsecondary-fixed: rgba(255, 217, 222, 1);
  --material-themesyslightsecondary-fixed-dim: rgba(229, 189, 194, 1);
  --material-themesyslightshadow: rgba(0, 0, 0, 1);
  --material-themesyslightsurface: rgba(255, 248, 247, 1);
  --material-themesyslightsurface-bright: rgba(255, 248, 247, 1);
  --material-themesyslightsurface-container: rgba(251, 234, 235, 1);
  --material-themesyslightsurface-container-high: rgba(245, 228, 229, 1);
  --material-themesyslightsurface-container-highest: rgba(240, 222, 224, 1);
  --material-themesyslightsurface-container-low: rgba(255, 240, 241, 1);
  --material-themesyslightsurface-container-lowest: rgba(255, 255, 255, 1);
  --material-themesyslightsurface-dim: rgba(231, 214, 215, 1);
  --material-themesyslightsurface-tint: rgba(142, 73, 87, 1);
  --material-themesyslightsurface-variant: rgba(243, 221, 223, 1);
  --material-themesyslighttertiary: rgba(121, 88, 49, 1);
  --material-themesyslighttertiary-container: rgba(255, 221, 186, 1);
  --material-themesyslighttertiary-fixed: rgba(255, 221, 186, 1);
  --material-themesyslighttertiary-fixed-dim: rgba(235, 191, 144, 1);
  --material-themewhite: rgba(255, 255, 255, 1);
}
